<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
  </head>
  <body>
    <input type="hidden" id="mode" value="<%= mode %>" />
    <input type="hidden" id="list" value="<%= JSON.stringify(list) %>" />
    <div class="navbar">
      <span id="ba_gach">☰</span>
      <div class="navbar_container">
        <div id="convert_language">
          <img src="/images/co_vietnam.png" id="flag" />
          <span id="text_language">VI</span>
        </div>
        <span id="cancel_navbar_container">X</span>
        <div class="navbar_item" data-i18n="Buy_product">Mua vật phẩm</div>
        <hr id="hr_buy" />
        <div class="navbar_item" data-i18n="Sale_product">Bán vật phẩm</div>
        <hr id="hr_sale" />
        <button id="back_button"><span>BACK HOME</span></button>
      </div>
      <img src="/images/Logo tách nền.png" id="logo" />
    </div>
    <div class="div_list_item"></div>
    <script src="/javascript/cart.js"></script>
  </body>
</html>
