<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="content_chat"></div>
    <form id="form_chat">
      <input
        type="text"
        id="chat"
        name="text_chat"
        placeholder="Nhập văn bản ..."
        required
        autocomplete="off"
      />
      <button>Gửi</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/javascript/chat_admin.js"></script>
  </body>
</html>
