<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cooperate</title>
    <link rel="stylesheet" href="/css/cooperate.css" />
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
  </head>
  <body>
    <img class="logo" src="/images/doi_tac.png" />
    <div id="convert_language">
      <img src="/images/co_vietnam.png" id="flag" />
      <span id="text_language">VI</span>
    </div>
    <div class="content">
      <h3 data-i18n="welcome_cooperate">
        Chào mừng bạn đến với chương trình hợp tác của chúng tôi!
      </h3>
      <p data-i18n="cooperate_cooperate">
        Hợp tác với bạn chính là vinh dự của chúng tôi
      </p>
      <form id="form" action="/create_cooperate" method="post">
        <input
          type="text"
          class="input"
          placeholder="Tên đại diện/Representative Name"
          required
          autocomplete="off"
          name="user_fullname"
        />
        <input
          type="text"
          class="input"
          placeholder="Tên công ty/Cửa hàng/Company"
          required
          autocomplete="off"
          name="user_company"
        />
        <br />
        <input
          type="tel"
          class="input"
          placeholder="Số điện thoại/Telephone"
          required
          autocomplete="off"
          name="user_tel"
        />
        <input
          type="text"
          class="input"
          placeholder="Địa chỉ/Address"
          required
          autocomplete="off"
          name="user_address"
        />
        <br />
        <input
          type="text"
          class="input"
          placeholder="Mặt hàng bán/Product"
          required
          autocomplete="off"
          name="user_product"
        />
        <input
          type="text"
          class="input"
          placeholder="Số lượng/Quantity"
          required
          autocomplete="off"
          name="user_quantity"
        />
        <br />
        <button data-i18n="Sign_up">Đăng ký</button>
      </form>
    </div>
    <script>
      // xử lý đa ngôn ngữ
      document.cookie = "language=vi";
      let languageStrings = {};
      const convert_language = document.getElementById("convert_language");
      const flag = document.getElementById("flag");
      const text_language = document.getElementById("text_language");
      function loadLanguage(languageCode) {
        // Tải tệp ngôn ngữ dựa trên mã ngôn ngữ
        const fileUrl = languageCode + ".json";
        const xhr = new XMLHttpRequest();
        xhr.open("GET", fileUrl, false);
        xhr.onreadystatechange = async function () {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            // Tệp ngôn ngữ đã được tải thành công
            const languageData = JSON.parse(xhr.responseText);
            languageStrings[languageCode] = languageData;
          }
        };
        xhr.send();
      }
      function switchLanguage(languageCode) {
        // Kiểm tra xem ngôn ngữ đã được tải chưa
        if (languageCode in languageStrings) {
          const elements = document.querySelectorAll("[data-i18n]");
          for (let i = 0; i < elements.length; i++) {
            const element = elements[i];
            const key = element.getAttribute("data-i18n");
            // Thay thế văn bản hiện tại bằng chuỗi ngôn ngữ mới
            element.innerHTML = languageStrings[languageCode][key];
          }
        } else {
          // Tải ngôn ngữ nếu chưa được tải
          loadLanguage(languageCode);
        }
      }
      convert_language.addEventListener("click", () => {
        if (!document.cookie.includes("language=vi")) {
          document.cookie = "language=vi";
          text_language.textContent = "VI";
          flag.src = "/images/co_vietnam.png";
          switchLanguage("vi");
        } else {
          document.cookie = "language=en";
          text_language.textContent = "EN";
          flag.src = "/images/co_anh.jpg";
          switchLanguage("en");
        }
      });
      loadLanguage("vi");
      loadLanguage("en");
    </script>
  </body>
</html>
