<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete DataBase</title>
    <link rel="stylesheet" href="/css/delete_database.css " />
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
  </head>
  <body>
    <h3>Bạn chắc muốn xóa người dùng:</h3>
    <form method="post" action="/admin/delete_database">
      <input type="hidden" value="<%= user[0].id %>" name="user_id" />
      <div>Email: <%= user[0].user_email %></div>
      <div>Số điện thoại: <%= user[0].user_tel %></div>
      <button>Confirm</button>
    </form>
  </body>
</html>
