<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
  </head>
  <style>
    label {
      margin-bottom: 1vh;
    }
    input {
      margin-bottom: 1vh;
    }
  </style>
  <body>
    <form id="form">
      <label for="user_name">Tài khoản: </label>
      <input
        type="text"
        name="user_name"
        id="name"
        required
        autocomplete="off"
      />
      <br />
      <label for="password">Mật khẩu: </label>
      <input
        type="password"
        name="user_password"
        id="password"
        required
        autocomplete="off"
      />
      <br />
      <button id="send">Send</button>
    </form>
    <script src="/javascript/form_account_admin.js" type="module"></script>
  </body>
</html>
