<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffuel</title>
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="banner" id="b1">
      <div class="header1">
        <div class="logo">
          <img src="./images/Logo tách nền.png" id="logo" />
        </div>
        <details class="info">
          <summary>THÔNG TIN</summary>
          <span class="cac_muc"><a href="#b3">VỀ CHÚNG TÔI</a></span>
          <span class="cac_muc"><a href="#b4">DANH MỤC SẢN PHẨM</a></span
          ><span class="cac_muc"><a href="#b5">QUY TRÌNH</a></span
          ><span class="cac_muc"><a href="#b6">LIÊN HỆ</a></span>
        </details>
        <div class="login" id="div_in">
          <button id="sign_in">Đăng nhập</button
          ><button id="sign_up">Đăng ký</button>
        </div>
        <div class="login" id="div_out">
          <button id="sign_out">Đăng xuất</button>
        </div>
        <input id="state" value="<%=message%>" />
      </div>
      <div class="coffuel">Coffuel</div>
      <hr />
      <div class="content1">REDUCE THE WASTES, CREATE THE WAYS</div>
      <hr />
      <div class="content1_footer">VIÊN NÉN NĂNG LƯỢNG TÁI TẠO</div>
      <button class="item_footer">SẢN PHẨM</button
      ><button class="item_footer">HỢP TÁC</button
      ><button class="item_footer">GIỎ HÀNG</button>
    </div>
    <div id="b2" class="banner">
      <div class="div_item2">
        <img src="/images/hieu_suat.jpg" class="icon_2" />
        <h3 class="header_2">Hiệu suất vượt trội</h3>
        <p class="content_2">
          Nhiệt lượng được sinh ra từ quá trình đốt viên nén bã cà phê bằng 120%
          so với viên nén gỗ truyền thống.
        </p>
      </div>
      <div class="div_item2">
        <img src="/images/may_xuc.jpg" class="icon_2" />
        <h3 class="header_2">Giảm tối đa lượng tro</h3>
        <p class="content_2">
          Lượng tro còn lại sau khi đốt giảm đến 85% so với các nhiên liệu
          truyền thống khác.
        </p>
      </div>
      <div class="div_item2">
        <img src="/images/CO2.jpg" class="icon_2" />
        <h3 class="header_2">Giảm lượng khí thải CO2</h3>
        <p class="content_2">
          Lượng khí thải thải ra môi trường từ quá trình đốt nhiên liệu viên nén
          cà phê giảm 90% so với than đá.
        </p>
      </div>
    </div>
    <div class="banner" id="b3">
      <div class="div_leftb3">
        <img src="./images/Logo tách nền.png" class="img_3" />
      </div>
      <div class="div_rightb3">
        <h3 class="header_contentnb3">Giới thiệu về chúng tôi</h3>
        <hr class="gachb3" />
        <p class="contentb3">
          Coffuel là một giải pháp năng lượng xanh cho cộng đồng
        </p>
        <p class="contentb3">
          Chúng tôi mang đến cho thị trường những viên nén sinh khối có thành
          phần bã cà phê và là giải pháp cho 3 vấn đề của xã hội: khủng hoảng
          năng lượng, ô nhiễm môi trường và phụ phẩm công nghiệp.<br /><br />Coffuel
          được sinh ra là giải pháp với hiệu suất vượt trội, đa dạng hơn về
          nhiên liệu, tận dụng lượng phụ phẩm công nghiệp dồi dào và vẫn giữ
          được sự cạnh tranh về giá cả.
        </p>
      </div>
    </div>
    <div class="banner" id="b4">
      <div class="text_content4">
        <button class="next_back"><</button>
        <div class="show_img">
          <div class="list_img">
            <img src="/images/MVP (1).jpg" class="img_item" />
            <img src="/images/MVP (2).jpg" class="img_item" /><img
              src="/images/caphe.jpg"
              class="img_item"
            /><img src="/images/MVP (2).jpg" class="img_item" />
            <img src="/images/MVP (1).jpg" class="img_item" />
          </div>
        </div>
        <button class="next_back">></button>
      </div>
      <div class="image4">
        <img src="/images/Ảnh quảng cáo xinh xinh (3).jpg" class="img4" />
      </div>
    </div>
    <div class="banner" id="b5">
      <div class="tong_quat">
        <h1 class="header_b5">Quy trình tạo ra sản phẩm của Coffuel</h1>
        <hr class="gachchan5" />
        <div class="div_content">
          <div class="content_b5">
            <img
              class="icon5"
              src="/images/kisspng-computer-icons-delivery-symbol-delivery-boy-5b1324a0a71912.0358992415279812166844.png"
            />
            <h3 class="title_icon5">THU GOM</h3>
            <hr class="hr5" />
            <p class="text_icon5">
              Thu gom trực tiếp từ các doanh nghiệp sản xuất cà phê và các quán
              cà phê tại 2 tỉnh thành: Hà Nội và TP Hồ Chí Minh.
            </p>
          </div>
          <div class="content_b5">
            <img
              class="icon5"
              src="/images/kisspng-recycling-symbol-waste-plastic-recycling-5b40675b96cd93.1481662915309474196177.png"
            />
            <h3 class="title_icon5">XỬ LÝ</h3>
            <hr class="hr5" />
            <p class="text_icon5">
              Sử dụng công nghệ để xử lý các phụ phẩm công nghiệp và khai thác
              tối đa tiềm năng về năng lượng tái tạo.
            </p>
          </div>
          <div class="content_b5">
            <img
              class="icon5"
              src="/images/—Pngtree—receive box line icon vector_5142641.png"
            />

            <h3 class="title_icon5">THÀNH PHẨM</h3>
            <hr class="hr5" />
            <p class="text_icon5">
              Hoàn thiện và cung cấp phẩm viên nén sinh khối từ bã cà phê đến
              các doanh nghiệp sử dụng lò hơi công nghiệp.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="banner" id="b6">
      <a
        href="https://www.facebook.com/Coffuel2022?mibextid=ZbWKwL"
        target="_blank"
        class="fb_icon"
        ><img src="/images/fb_icon.png" class="fb_img"
      /></a>
      <div class="content6">
        <h3 class="header6">LIÊN HỆ VỚI TRỤ SỞ</h3>
        <hr class="gachchan6" />
        <h3>COFFUEL</h3>
        <h4>Địa chỉ: Đại học Bách Khoa Hà Nội</h4>
        <h4>
          Anh Phạm Minh Long Hải <br />Email: phamminhlonghaihust@gmail.com
          <br />Điện thoại: 0866 869 318
        </h4>
        <h4>
          Chị Bùi Nguyễn Khánh Linh <br />Email: linhbnk.dynamicftu@gmail.com
          <br />Điện thoại: 0396 531 013
        </h4>
      </div>
    </div>
    <script type="module" src="/javascript/home.js"></script>
  </body>
</html>
