<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffuel</title>
    <link rel="icon" href="/images/Logo Coffuel xanh.png" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="banner" id="b1">
      <div class="navbar navbar_animation" id="navbar">
        <span id="ba_gach">☰</span>
        <div class="content_navbar">
          <span id="cancel_content_navbar">X</span>
          <a class="element_navbar" href="#b1"
            >TRANG CHỦ
            <hr class="hr_navbar"
          /></a>
          <a class="element_navbar" href="#b2"
            >LỢI THẾ
            <hr class="hr_navbar"
          /></a>
          <a class="element_navbar" href="#b3"
            >GIỚI THIỆU
            <hr class="hr_navbar"
          /></a>
          <a class="element_navbar" href="#b4"
            >SẢN PHẨM
            <hr class="hr_navbar"
          /></a>
          <a class="element_navbar" href="#b5"
            >QUY TRÌNH
            <hr class="hr_navbar"
          /></a>
          <a class="element_navbar" href="#b6"
            >LIÊN HỆ
            <hr class="hr_navbar"
          /></a>
        </div>
        <div class="log_navbar">
          <a class="element_navbar" id="sign_in" href="/sign_in">Đăng nhập</a>
          <a class="element_navbar" id="sign_up" href="/sign_up">Đăng ký</a>
          <a class="element_navbar" id="sign_out">Đăng xuất</a>
        </div>
        <input id="state" value="<%=message%>" type="hidden" />
      </div>
      <div class="div_chat">
        <span id="cancel_chat">X</span>
        <div id="content_chat"></div>
        <form id="form_chat">
          <input
            type="text"
            id="chat"
            name="text_chat"
            placeholder="Nhập văn bản ..."
            required
            autocomplete="off"
          />
          <button>Gửi</button>
        </form>
      </div>
      <img src="/images/icon_chat.png" id="icon_chat" />
      <div class="section">
        <div class="coffuel">Coffuel</div>
        <hr class="hr1" />
        <div class="content1">REDUCE THE WASTES, CREATE THE WAYS</div>
        <hr class="hr2" />
        <div class="content1_footer">VIÊN NÉN NĂNG LƯỢNG TÁI TẠO</div>
        <div class="footer">
          <button class="item_footer">SẢN PHẨM</button
          ><button class="item_footer">HỢP TÁC</button
          ><button class="item_footer">GIỎ HÀNG</button>
        </div>
      </div>
    </div>
    <div id="b2" class="banner">
      <div class="div_item2">
        <img src="/images/hieu_suat.jpg" class="icon_2" />
        <h3 class="header_2">Hiệu suất vượt trội</h3>
        <p class="content_2">
          Nhiệt lượng được sinh ra từ quá trình đốt viên nén bã cà phê bằng 120%
          so với viên nén gỗ truyền thống.
        </p>
      </div>
      <div class="div_item2">
        <img src="/images/giam_thieu.jpg" class="icon_2" />
        <h3 class="header_2">Giảm tối đa lượng tro</h3>
        <p class="content_2">
          Lượng tro còn lại sau khi đốt giảm đến 85% so với các nhiên liệu
          truyền thống khác.
        </p>
      </div>
      <div class="div_item2">
        <img src="/images/CO2.jpg" class="icon_2" />
        <h3 class="header_2">Giảm lượng khí thải CO2</h3>
        <p class="content_2">
          Lượng khí thải thải ra môi trường từ quá trình đốt nhiên liệu viên nén
          cà phê giảm 90% so với than đá.
        </p>
      </div>
    </div>
    <div class="banner" id="b3">
      <div class="div_leftb3">
        <img src="/images/Logo Coffuel trắng.png" class="img_3" />
        <img
          src="/images/Ảnh quảng cáo xinh xinh (1).jpg"
          class="img_3_item1"
        />
        <img src="/images/MVP AI vẽ (2).jpg" class="img_3_item2" />
      </div>
      <div class="div_rightb3">
        <h3 class="header_contentb3">Giới thiệu về chúng tôi</h3>
        <p class="contentb3" id="p3_1">
          Coffuel là một giải pháp năng lượng xanh cho cộng đồng
        </p>
        <p class="contentb3" id="p3_2">
          Chúng tôi mang đến cho thị trường những viên nén sinh khối có thành
          phần bã cà phê và là giải pháp cho 3 vấn đề của xã hội: khủng hoảng
          năng lượng, ô nhiễm môi trường và phụ phẩm công nghiệp.<br /><br />Coffuel
          được sinh ra là giải pháp với hiệu suất vượt trội, đa dạng hơn về
          nhiên liệu, tận dụng lượng phụ phẩm công nghiệp dồi dào và vẫn giữ
          được sự cạnh tranh về giá cả.
        </p>
      </div>
    </div>
    <div class="banner" id="b4">
      <div class="div_content_4">
        <div class="content_4">
          <span id="cancel_information">X</span>
          <p id="product_name">Tên sản phẩm:</p>
          <p id="product_describe">Mô tả:</p>
          <p id="product_price">Giá thành:</p>
        </div>
      </div>

      <div class="text_content4">
        <h3>Bấm để xem thông tin sản phẩm</h3>
        <div class="show_img">
          <div class="list_img">
            <img
              src="/images/MVP (1).jpg"
              class="img_item"
              title="Viên nén cà phê dành cho công nghiệp"
            />
            <img
              src="/images/viennenhinhthu.jpg"
              class="img_item"
              title="Viên nén sinh khối không khói có hình thù đặc biệt"
            />
            <img
              src="/images/doluuniem.jpg"
              class="img_item"
              title="Đồ lưu niệm"
            />
            <img
              src="/images/vai.jpg"
              class="img_item"
              title="Vải từ bã cà phê"
            />
            <img
              src="/images/dodung.jpg"
              class="img_item"
              title="Đồ dùng từ bã cà phê"
            />
            <img
              src="/images/daudiesel.jpg"
              class="img_item"
              title="Dầu diesel chiết suất từ bã cà phê"
            />
          </div>
        </div>
        <div class="icon_item">
          <span class="item_next_back"></span>
          <span class="item_next_back"></span>
          <span class="item_next_back"></span>
          <span class="item_next_back"></span>
          <span class="item_next_back"></span>
          <span class="item_next_back"></span>
        </div>
        <button class="next_back" id="back"><</button>
        <button class="next_back" id="next">></button>
      </div>

      <img src="/images/cay_coffee2.png" class="img_42" /><img
        src="/images/cay_coffee.png"
        class="img_41"
      />
      <div class="footer_b4"></div>
    </div>
    <div class="banner" id="b5">
      <div class="tong_quat">
        <h1 class="header_b5">Quy trình tạo ra sản phẩm của Coffuel</h1>
        <hr class="gachchan5" />
        <div class="div_content">
          <div class="content_b5">
            <img
              class="icon5"
              src="/images/kisspng-computer-icons-delivery-symbol-delivery-boy-5b1324a0a71912.0358992415279812166844.png"
            />
            <h3 class="title_icon5">THU GOM</h3>
            <hr class="hr5" />
            <p class="text_icon5">
              Thu gom trực tiếp từ các doanh nghiệp sản xuất cà phê và các quán
              cà phê tại 2 tỉnh thành: Hà Nội và TP Hồ Chí Minh.
            </p>
          </div>
          <div class="content_b5">
            <img
              class="icon5"
              src="/images/kisspng-recycling-symbol-waste-plastic-recycling-5b40675b96cd93.1481662915309474196177.png"
            />
            <h3 class="title_icon5">XỬ LÝ</h3>
            <hr class="hr5" />
            <p class="text_icon5">
              Sử dụng công nghệ để xử lý các phụ phẩm công nghiệp và khai thác
              tối đa tiềm năng về năng lượng tái tạo.
            </p>
          </div>
          <div class="content_b5">
            <img
              class="icon5"
              src="/images/—Pngtree—receive box line icon vector_5142641.png"
            />

            <h3 class="title_icon5">THÀNH PHẨM</h3>
            <hr class="hr5" />
            <p class="text_icon5">
              Hoàn thiện và cung cấp phẩm viên nén sinh khối từ bã cà phê đến
              các doanh nghiệp sử dụng lò hơi công nghiệp.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="banner" id="b6">
      <!-- <div class="dynamic_div">
        <div class="dynamic_text">
          <li><span id="span_dynamic">Liên hệ với chúng tôi</span></li>
        </div>
      </div> -->
      <div class="information information_1">
        <img src="/images/Logo tách nền.png" class="logo_b6" />
        <h3 class="coffuel_b6">Coffuel</h3>
        <h2 class="information_details">Thông tin chi tiết</h2>
        <div class="send_email">
          <input
            type="email"
            id="email_received"
            required
            placeholder="Email nhận thông tin"
          />
          <button id="send_email">Gửi</button>
        </div>
      </div>
      <div class="information information_2">
        <h2>SITEMAP</h2>
        <hr />
        <h4>
          <a href="#b1">TRANG CHỦ</a>
        </h4>
        <h4><a href="#b2">LỢI THẾ</a></h4>
        <h4><a href="#b3">GIỚI THIỆU</a></h4>
        <h4><a href="#b4">SẢN PHẨM</a></h4>
        <h4><a href="#b5">QUY TRÌNH</a></h4>
        <h4><a href="#b6">LIÊN HỆ</a></h4>
      </div>
      <div class="information information_3">
        <h2>
          LIÊN HỆ VỚI TRỤ SỞ &ensp;
          <a
            href="https://www.facebook.com/Coffuel2022?mibextid=ZbWKwL"
            target="_blank"
            class="fb_icon"
            ><img src="/images/fb_icon.png" class="fb_img"
          /></a>
        </h2>
        <hr />
        <h3>COFFUEL</h3>
        <h4>Địa chỉ: Đại học Bách Khoa Hà Nội</h4>
        <h4>
          Anh Phạm Minh Long Hải <br />Email: phamminhlonghaihust@gmail.com
          <br />Điện thoại: 0866 869 318
        </h4>
        <h4>
          Chị Bùi Nguyễn Khánh Linh <br />Email: linhbnk.dynamicftu@gmail.com
          <br />Điện thoại: 0396 531 013
        </h4>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/javascript/home.js"></script>
  </body>
</html>
