* {
  margin: 0;
}
body {
  background-color: rgb(35, 35, 35);
}
.navbar {
  width: 100%;
  height: 15vh;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 5;
}

#ba_gach {
  margin-top: 2vh;
  margin-left: 2vh;
  font-size: 3vw;
  cursor: pointer;
  color: white;
}
.navbar_container {
  position: absolute;
  width: 0;
  transition: 1.5s;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: blanchedalmond;
  padding-top: 10vh;
  overflow: hidden;
}
#cancel_navbar_container {
  position: absolute;
  top: 1vh;
  right: 1vh;
  width: 3vh;
  height: 3vh;
  background-color: rgba(130, 132, 245, 0);
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cancel_navbar_container:hover {
  background-color: red;
}
.navbar_item {
  margin-left: 2vw;
  font-size: 3vh;
  margin-top: 1vw;
  cursor: pointer;
  width: 20vw !important;
}
.navbar_item:hover {
  color: red;
}
hr {
  margin-right: 5vw;
  margin-left: 2vw;
  border: 2px solid black;
  display: none;
}
#logo {
  position: absolute;
  height: 25vh;
  top: -5.5vh;
  right: -2vw;
}
#back_button {
  height: 4vh;
  width: 18vh;
  border-radius: 1vh;
  cursor: pointer;
  margin-top: 2vh;
  margin-left: 2vw;
}
#back_button:hover {
  background-color: rgba(130, 132, 245, 0.5);
}
#back_button span::before {
  content: "<<";
  margin-right: 3px;
  display: none;
}
#back_button:hover span::before {
  display: inline-block;
  animation: back 1s;
}
@keyframes back {
  0% {
    display: inline-block;
    transform: rotateX(-90deg);
  }
  100% {
    display: inline-block;
    transform: rotateX(0);
  }
}
@media only screen and (max-width: 800px) {
  #logo {
    right: -3vh;
    top: -2vh;
    height: 18vh;
  }
  #ba_gach {
    font-size: 4vh;
    margin: 1vh 0 0 1vh;
  }
  .navbar_item {
    font-size: 3vh;
    width: 50vw !important;
    margin-top: 1vh;
  }
}
.div_list_item {
  width: 80%;
  margin-top: 15vh;
  height: max-content;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vw;
  background-color: rgba(251, 251, 255, 0.8);
  border-radius: 2vw;
  z-index: 0;
  position: relative;
}
.list_item {
  width: 90%;
  border: 2px solid whitesmoke;
  border-radius: 1vw;
  height: 25vh;
  margin-bottom: 1vw;
  position: relative;
  display: flex;
  align-items: center;
}
.new_img {
  height: 18vh;
  width: 18vh;
  border-radius: 2vw;
  margin-left: 3vw;
}
.new_content {
  height: 18vh;
  width: 80% !important;
  margin-left: 3vw;
}
.span_product {
  font-size: 2vw;
}
.p_information {
  margin-top: 1vw;
  margin-bottom: 0.4vw;
}
.p_state {
  margin-top: 1.5vw;
}
@media only screen and (max-width: 800px) {
  .div_list_item {
    width: 95%;
    margin-left: 2.5vw;
  }
  .list_item {
    height: 12vh;
  }
  .new_img {
    height: 8vh;
    width: 8vh;
    margin-left: 2vw;
  }
  .new_content {
    height: 8vh;
    margin-left: 1vw;
  }
  .span_product {
    font-size: 3vw;
  }
  p {
    font-size: 2.5vw;
    margin: 0;
  }
  .p_state {
    margin-top: 1vw;
  }
}
