* {
  margin: 0;
  padding: 0;
}
body {
  padding-left: 2vh;
  padding-top: 1vh;
}
fieldset {
  padding: 2vh;
  width: 30vw;
}
.input_item {
  margin-bottom: 1vh;
}
.button_add {
  width: 5vw;
  height: 3vh;
}
table {
  margin-top: 3vh;
  border-collapse: collapse;
}
tr:hover {
  background-color: rgba(152, 255, 188, 0.4);
}
th {
  background-color: greenyellow;
}
tr,
th,
td {
  border: 1px solid black;
}
.id {
  width: 4vw;
}
.user_name,
.user_password,
.user_email,
.actions {
  width: 18vw;
}
